@model ICollection<Order>

<div class="container text-center mt-3">
    @if (@TempData["Message"] != null)
    {
        <p class="alert alert-danger">@TempData["Message"]</p>
    }
    <table class="table table-bordered">
        <tr>
            <th colspan="5" class="h3 bg-light text-success">Order List</th>
        </tr>
        <tr>
            <th>Order Id</th>
            <th>User ID</th>
            <th>Total</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        @foreach (var order in Model)
        {
            <tr>
                <td>@order.Id</td>
                <td>@order.UserId</td>
                <td>
                    <a class="font-weight-bold" asp-controller="OrderDetail" asp-action="Index">
                        @order.Total
                    </a>
                </td>

                @if (order.Status == 0)
                {
                    <td> <p class="text text-warning">Pending</p> </td>
                    <td>
                        <a class="btn btn-success" asp-controller="Order" asp-action="Approved" asp-route-id="@order.Id">
                            Approve
                        </a>
                        <a class="btn btn-danger" asp-controller="Order" asp-action="Rejected" asp-route-id="@order.Id"
                   onclick="return confirm('Are you sure to reject this order ?');">
                            Reject
                        </a>
                    </td>
                }
                else if (order.Status == 1)
                {
                    <td> <p class="text text-success">Approved</p> </td>

                }
                else if (order.Status == -1)
                {
                    <td> <p class="text text-danger">Rejected</p> </td>

                }
                <td>
                    <a class="btn btn-warning" asp-controller="Order" asp-action="Detail" asp-route-id="@order.Id">
                        Detail
                    </a>
                              <a class="btn btn-danger" asp-controller="Order" asp-action="Delete" asp-route-id="@order.Id">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </table>
</div>